

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}






nav.navbar {

  top: 0;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  
  transition: 0.52 ease-in-out;
}
nav.navbar.scrolled{
  padding:0px 0;
  background-color: #121212;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
display: flex;
align-items: center;
font-weight: 400;
font-size: 20px;
padding: 0 25px;
letter-spacing: 10px;
opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link:active {
  opacity: 1;
}




